<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>pizzas</h1>
	<form th:action="@{/pizzas/by/nome}" method="POST">
		<label>Nome</label>
		<input type="text" name="nome" th:value="${nome}">
		<br>
		<input type="submit" value="Search">
	</form>
	<a th:href="@{/offerte}">Visualizza offerte attive</a>
	<a th:href="@{/pizzas/create}">Aggiungi nuova pizza</a>
	 <ul>
		<li
			th:each="pizza : ${pizzas}"
			th:object="${pizza}"
		>
			<a th:href="@{/pizzas/{id} (id=*{id})}">
				[[ *{nome} ]]
			</a>
			<a th:href="@{/pizzas/delete/{id} (id=*{id})}">
				-DELETE
			</a>
			<a th:href="@{/pizzas/update/{id} (id=*{id})}">
				-UPDATE
			</a>
		</li>
	</ul>
	
</body>
</html>